@media(max-width:900px){

.sidebar{

    width:80px;

}

.logo span{

    display:none;

}

.menu a{

    justify-content:center;

}

.menu a i{

    margin:0;

}

.menu a{

    font-size:0;

}

.menu a i{

    font-size:20px;

}

.content{

    margin-left:80px;

}

.sidebar-footer{

    display:none;

}

}